@page "/doc/{id:int?}"
@page "/doc/index/{id:int?}"
@using DayDoc.Web.Endpoints.Models;
@inject IJSRuntime JsRuntime
@inject NavigationManager Navigation
@inject ILogger<Index> Logger

@code {
    [Parameter]
    public int? Id { get; set; }

    string _title = "Документы";
    static string _routeEntity = "doc";

    // For DisplayName    
    private readonly Doc Model = default!;
    private List<Doc>? _items;

    protected override async Task OnInitializedAsync()
    {
        var res = await new DocListRequest { }.ExecuteAsync(CancellationToken);
        _items = res.Docs;
    }

    string? _alertMsg;
    bool _alertVisible = false;
    void ShowAlert(string msg)
    {
        _alertMsg = msg;
        _alertVisible = true;
    }
    void OnAlertClose() => _alertVisible = false;

    async Task DeleteConfirm(int id)
    {
        var item = _items?.Find(m => m.Id == id);
        if (item == null)
            return;

        string name = $"{item.DocType} #{item.Num}";
        bool confirmed = await JsRuntime.InvokeAsync<bool>("confirm", $"Вы уверены, что хотите удалить '{name}' ?");
        if (confirmed)
        {
            try
            {
                await new DocDeleteRequest { Id = id }.ExecuteAsync(CancellationToken);
                _items?.RemoveAll(m => m.Id == id);
            }
            catch (Exception ex)
            {
                Logger.LogError($"{Navigation.Uri} | {nameof(DeleteConfirm)}: {ex.Message}");
                ShowAlert(ex.Message);                
            }
        }
    }
}

<PageTitle>@_title</PageTitle>
<h1>@_title</h1>

<p>
    <a href=@($"{_routeEntity}/create") class="btn btn-primary" >+ Добавить</a>
</p>

<Alert Msg="@_alertMsg" Visible=@_alertVisible OnCloseCallback=@OnAlertClose />

@if (_items == null)
{
    <p><em>Загрузка...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    <Label For="@(() => Model.Id)" />
                </th>
                <th>
                    <Label For="@(() => Model.DocType)" />
                </th>
                <th>
                    <Label For="@(() => Model.Num)" />
                </th>
                <th>
                    <Label For="@(() => Model.Date)" />
                </th>
                <th>
                    <Label For="@(() => Model.Contragent)" />
                </th>
                <th>
                    <Label For="@(() => Model.Sum)" />
                </th>
                @*<th>
                    <Label For="@(() => Model.Name)" />
                </th>*@
                <th>
                    <Label For="@(() => Model.Description)" />
                </th>
                <th>
                    <Label For="@(() => Model.OwnCompany)" />
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in _items)
            {
                <tr>
                    <td>
                        @(item.Id)
                    </td>
                    <td>
                        @(item.DocType)
                    </td>
                    <td>
                        <a href=@($"{_routeEntity}/details/{@item.Id}")>@item.Num</a>
                    </td>
                    <td>
                        @(item.Date.ToShortDateString())
                    </td>
                    <td>
                        @(item.Contragent?.Name)
                    </td>
                    <td class="text-end">
                        @(item.Sum.ToString("N2"))
                    </td>
                    @*<td>
                        @(item.Name)
                    </td>*@
                    <td>
                        @(item.Description)
                    </td>
                    <td>
                        @(item.OwnCompany?.Name)
                    </td>

                    <td>
                        <a href=@($"{_routeEntity}/edit/{@item.Id}")>Edit</a> |
                        <a href=@($"{_routeEntity}/details/{@item.Id}")>Details</a> |
                        <a href="" @onclick="() => DeleteConfirm(item.Id)" @onclick:preventDefault>Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
